#EditProfile-page :root {
    --primary-color: #4A90E2;
    --secondary-color: #E0E0E0;
    --background-color: #FFFFFF;
    --text-color: #333;
    --danger-color: #FF4D4D;
    --border-radius: 8px;
}

#EditProfile-page body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#EditProfile-page .edit-profile-container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#EditProfile-page h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

#EditProfile-page .form-group {
    margin-bottom: 15px;
    text-align: left;
}

#EditProfile-page label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#EditProfile-page input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

#EditProfile-page textarea {
    resize: none;
}

#EditProfile-page input[type="text"]:focus,
textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

#EditProfile-page input[type="file"] {
    display: none;
}

#EditProfile-page .file-label {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
}


#EditProfile-page .profile-picture-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
    border: 3px solid var(--primary-color);
}

#EditProfile-page button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s;
}

#EditProfile-page .save-button {
    font-size: 18px;
    background: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#EditProfile-page .save-button:hover {
    background: var(--primary-color);
    color: white;
}

#EditProfile-page .back-button {
    font-size: 18px;
    background: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#EditProfile-page .back-button:hover {
    background: var(--primary-color);
    color: white;
}
